#container {
    position: absolute;
    height: 800px;
    width: 1200px;
    border: 2px solid #000;
    overflow: hidden;
    perspective: 600px;
}

#world {
    position: absolute;
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
}

#pawn { 
    position: absolute;
    top: 400px;
    left: 600px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    transform: translate(-50%, -50%);
}